article,
section {
    margin: 0 auto;
    max-width: 120ch;
    overflow-wrap: break-word;
}

footer {
    border-top: 1px solid;
    font-size: small;
}

pre {
    border: 1px solid;
    max-width: 100%;
    overflow-x: auto;
    padding: 1ch;
}

pre>code {
    background-color: transparent;
}

blockquote {
    border-left: 0.5ch solid;
    margin-left: 0ch;
    margin-right: 0ch;
    padding-left: 1ch;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid;
    padding: 0.5ch;
}
