article,
section {
    margin: 0 auto;
    max-width: 120ch;
}

#article-dates {
    font-size: small;
}

code {
    background-color: #eee;
}

pre {
    /* Remove syntax highlighting background color. */
    background-color: #fff !important;
    border: 1px solid #999;
    max-width: 100%;
    overflow-x: auto;
    padding: 1ch;
}

pre > code {
    background-color: #fff;
}

blockquote {
    border-left: 0.5ch solid #999;
    margin-left: 0ch;
    margin-right: 0ch;
    padding-left: 1ch;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #999;
    padding: 0.5ch;
}
