article,
section {
    max-width: 120ch;
    margin: 0 auto;
}

#article-dates {
    font-size: small;
}

pre {
    background-color: #eee;
    max-width: 100%;
}

code {
    background-color: #eee;
}

blockquote {
    border-left: 0.5ch solid #eee;
    padding-left: 1ch;
    margin-left: 0ch;
    margin-right: 0ch;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #999;
    padding: 0.5ch;
}
